# Server Configuration
PORT=3000

# MongoDB Connection String (Local or MongoDB Atlas)
# Example Local: mongodb://localhost:27017/taskmanager
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/taskmanager?retryWrites=true&w=majority
MONGODB_URL=mongodb://localhost:27017/taskmanager

# JWT Authentication
JWT_SECRET=super_secret_jwt_key_please_change_in_production
JWT_EXPIRES_IN=24h
